.centered
  h2 = t 'layouts.header.changepwd'
  - if flash[:error]
      <div data-alert class="alert-box alert radius">
        = flash[:error]
      </div>
  = simple_form_for @user do |f|
      =f.input :password_old,required: true
      =f.input :password,required: true
      =f.input :password_confirmation,required: true
      =f.button :submit, t('layouts.header.submit')
  h2 = t 'layouts.header.changebusinesspwd'
  = simple_form_for @user, :url=>'/users/update_business_password', :html=>{:method=>:post} do |f|
        =f.input :business_password_old,required: true
        =f.input :business_password,required: true
        =f.input :business_password_confirmation,required: true
        =f.button :submit, t('layouts.header.submit')