<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name hide-for-small">
      <h1><a href="#">80平台</a></h1>
    </li>
    <li class="show-for-small">
      <a class="left-off-canvas-toggle menu-icon">
        <span>Foundation</span>
      </a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">菜单</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li>
        <a>欢迎你,<%=current_user.name%></a>
      </li>
      <li><a href="<%=signout_path%>">退出</a></li>
    </ul>
<!--     <ul class="right">
      <li class="has-dropdown">
        <a href="#" data-no-turbolink>下拉菜单</a>
        <ul class="dropdown">
          <li><a href="#">下拉选项</a></li>
        </ul>
      </li>
    </ul> -->

  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>1111</label></li>
    <li><a href="#">2222</a></li>
    <li><a href="#">333333</a></li>
    <li><a href="#">44444</a></li>
  </ul>
</aside>