



<div class="sidebar">
  <nav class="hide-for-small">
    <ul class="side-nav">
      <li class="heading">缴费业务</li>
      <li class="divider"></li>
      <li class="active"><a href="#" data-search>话费缴费</a></li>
      <li><a href="#">话费缴费历史查询</a></li>
      <li><a href="#">Q币业务</a></li>
      <li><a href="#">游戏业务</a></li>
      <li><a href="#">游戏缴费历史查询</a></li>

      <li class="heading">我的账户</li>
      <li class="divider"></li>
      <li><a href="#">存款提交</a></li>
      <li><a href="#">存款历史记录</a></li>
      <li><a href="#">佣金余额</a></li>
      <li><a href="#">我的资金日志</a></li>

      <li class="heading">个人管理</li>
      <li class="divider"></li>
      <li><a href="#">密码管理</a></li>
    </ul>
  </nav>
</div>