



<div class="sidebar">
  <nav class="hide-for-small">
    <ul class="side-nav">
      <li class="heading">代理商资料</li>
      <li class="divider"></li>
      <li class="active"><a href="#" data-search>代理商资料</a></li>

      <li class="heading">通道管理</li>
      <li class="divider"></li>
      <li><a href="#">通道设置</a></li>
      <li><a href="#">工号设置</a></li>
      <li><a href="#">游戏通道设置</a></li>

      <li class="heading">价格管理</li>
      <li class="divider"></li>
      <li><a href="#">代理商充值价格管理</a></li>
      <li><a href="#">游戏充值进价管理</a></li>

      <li class="heading">订单查询</li>
      <li class="divider"></li>
      <li><a href="#">订单页面查询</a></li>
      <li><a href="#">游戏订单查询</a></li>

      <li class="heading">财务管理</li>
      <li class="divider"></li>
      <li><a href="#">存款请求处理</a></li>
      <li><a href="#">代理商资金动向</a></li>
      <li><a href="#">代理商加/扣款</a></li>

      <li class="heading">数据统计及公告管理</li>
      <li class="divider"></li>
      <li><a href="#">通道充值成功失败笔数统计</a></li>
      <li><a href="#">代理商充值统计</a></li>
      <li><a href="#">充值工号充值统计</a></li>
      <li><a href="#">代理商年充值总额，运营商年充值总额</a></li>
      <li><a href="#">用户每月增减量</a></li>
      <li><a href="#">公告管理</a></li>
      <li><a href="#">业务员管理</a></li>

    </ul>
  </nav>
</div>