



<div class="sidebar">
  <nav class="hide-for-small">
    <ul class="side-nav">
      <li class="heading">后台菜单A</li>
      <li class="divider"></li>
      <li class="active"><a href="#" data-search>菜单1</a></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>

      <li class="heading">菜单B</li>
      <li class="divider"></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>

      <li class="heading">财务管理</li>
      <li class="divider"></li>
      <li class="<%="#{cp(admin_charges_path)}"%>">
        <a href="<%=admin_charges_path%>">存款处理</a>
      </li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>

      <li class="heading">菜单D</li>
      <li class="divider"></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>
    </ul>
  </nav>
</div>