



<div class="sidebar">
  <nav class="hide-for-small">
    <ul class="side-nav">
      <li class="heading">后台菜单A</li>
      <li class="divider"></li>
      <li class="active"><a href="#" data-search>菜单1</a></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>

      <li class="heading">菜单B</li>
      <li class="divider"></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>

      <li class="heading">菜单C</li>
      <li class="divider"></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>

      <li class="heading">菜单D</li>
      <li class="divider"></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>
      <li><a href="#">菜单1</a></li>
    </ul>
  </nav>
</div>