.centered
  -set_title '充值'
  = simple_form_for @charge do |f|
      = f.input :total,required: true
      = f.input :pay_method, collection:Charge.pay_method_selector,  as: :radio_buttons
      = f.input :remark, as: :text,placeholder:'*请填入存款地址,流水号,存款时间等详细信息'
      = f.button :wrapped, '充值', id:'submitCharge'

javascript:
  $("#submitCharge").click(function(){
    var total = parseInt($("#charge_total").val());
    var pay_method = $("input[name='charge[pay_method]']:checked").val();
    var remark = $("#charge_remark").val();
    if(isNaN(total)){
      alert("必须为数字");
      return false;
    }
    var data = {
        "total":total,
        "pay_method":pay_method,
        "remark":remark
    };
    if(pay_method=="tenpay"){
      getTenpay(data);
      return false;
    }else{
      $.ajax({
          type: "post",
          data:data,
          dataType:"json",
          url: "/charges/get_charge_money",
          success: function(data, textStatus){
              var money = parseFloat(data.data);
              if(isNaN(money)){
                alert(money);
              }else{
                if(confirm("您的充值金额是"+money)){
                  $("#charge_total").val(money);
                  $("#new_charge").submit();
                }
              }
          },
          complete: function(XMLHttpRequest, textStatus){
              //HideLoading();
              //alert("complete"+textStatus);
          },
          error: function(){
              //请求出错处理
          }
      });
    }
    return false;
  });

  function getTenpay(data){
    if(data.pay_method!="tenpay"){
      alert("请选择财付通");
    }
    $.ajax({
        type: "post",
        data:data,
        dataType:"json",
        url: "/charges/get_tenpay_url",
        success: function(data, textStatus){
          if(data.data.status == "success"){
            window.open(data.data.url, "_blank" ,"resizable:true");
            $(".centered").replaceWith("如果未弹出对话框，请点击<a target='_blank' href='"+data.data.url+"'>到财付通继续支付</a>");
          }else{
            alert("获取失败");
          }
        },
        complete: function(XMLHttpRequest, textStatus){
            //HideLoading();
            //alert("complete"+textStatus);
        },
        error: function(){
            //请求出错处理
        }
    });
  }
